*__pycache__*
messages.pot
.cache
.devcontainer
.git
.github
.gitignore
.dockerignore
.pre-commit-config.yaml
.ruff_cache
.venv
.vscode
config
h264
node_modules
static
docker-compose.*
Dockerfile
docker
data
.env